 .navbar-collapse  {
            background-color: #4682b4;
        }
        .sidebar-nav{
            background-color: #4682b4;
        }
        .sidebar-nav #sidebarnav .list-divider {
          height: 4px;
          background: #e8eaec;
          display: block;
          margin: 10px 0 20px 30px;
          opacity: .1; }
          